html {
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-family:  'Raleway', sans-serif;
    margin: 0px;
    background-color: grey;
    
   
}
header{
    width: 100% !important;     
    position:relative 
}
header > .carousel {
    max-height: 25em;
}
main {
    width: 100%;
    position: relative;
    background-color: white;       
}
 
   

#frase {
    font-family:'Cookie', cursive ;
    position: absolute;
    background-color: #BF571B99;
    color: white;
    bottom: 2.5em;
    padding-left: 0.2em;
    width: 9em;
    font-size: 3em;
    /* display: inline; */
    
}

.botoes {

    width: 100% !important;
    position: absolute;
    background-color: #591902;
    color: white;
    font-size: 1.4em;
    height: 50px;
    bottom: 0;
    display: inline-flex;
    text-align: center;
    
}
#empresa,
#produtos,
#localizacao,
#contato {
    width: 100% !important;
    padding-top: 8px;
    padding-right: 15px;
    border-right: 0.5px solid #F29D35;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    
}

/* Gerando efeitos nos botões */
.click:link {
    
    color: #F29D35;
}

.click:visited {
  
    color: white ;
  }

.click:hover {
    
    color: #db501d;
  }

  /* Configurando o main  */
  

.container {    
    width: 100%;
    background-color: white;
    padding-bottom: 1em;
}

#topico1 {
    padding-top: 1em;
    margin-left: 0px;
    margin-bottom: 0em;
    font-size: 2em;  
    margin-left: 1.5em;
    font-family: 'Raleway', sans-serif;
    
}

p{    
    margin: 1em 3em;
    font-size: 1em;
    font-family:  'Raleway', sans-serif;
    text-align: justify;
       
}

 .divmaior{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }  

article {
    width: 25%;
    height: 20em;
    background-color: #591902;
    float: left;
    margin: 1%;
    border-radius: 10%;
    background-image: url("./Imagens/expresso.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    margin-inline: 3px;
    
    
}

/* Imagens dos cafés */

#expresso,
#mocha,
#capuccino {        
    position: relative;
    color: white;
    top: 9em;
    left: 1em;
    font-size: 1.5;
   
}
#hr-1 {
    color:black;
    border: 0.5px solid;
    margin-top: 0.5em;
    margin-left: 3em;
    margin-right:40em ;
}

hr {
    color:#F29D35;
    border: 1px solid;
    margin-top: 9em;
    margin-left: 1em;
    margin-right:1em ;
}

/* Texto dos cafés */

.texto-caixa {
    color: white;
    font-size: 0.8em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    margin: 2em 1em;
    margin-bottom: 5em;;
   
}

#topico2 {
     margin-bottom: 0em;
    font-size: 2em;  
    margin-left: 1.5em;
    font-family:  'Raleway', sans-serif;
}
#hr-2 {
    color:black;
    border: 1px solid;
    margin-top: 0em;
    margin-left: 3em;
    margin-right:40em ;
}

/* Tabela */

.tabela{
    width: 80%;
}

table, th , td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: bold;
    border: 1px solid black;
    margin-top: 2em;
    margin-left: 6em;
    margin-bottom: 2em;
    border-collapse: collapse;
    padding-left: 0.5em;
    
    
}
tr:nth-child(1) {
    background-color:#591902;
    color:white;
}

td:nth-child(1) {
    background-color:#591902 ;
    color:white;
}


td:nth-child(2) {
    background-color:#F29D35;
    color:black;
}

/* Rodapé */
footer{
    width: 100%;
    height: 2em;
    background-color:#591902;
    color: white;
    top: 105em;
    padding: 5em 2em;
    font-family:  'Raleway', sans-serif;
    
       
}

/* Media-querys são os pontos de quebra como o layout vai se comportar em tal largura */

/* Tamanho de disposítivos móveis P,M e G */
@media only screen and (max-width:425px){
    .container {
        width: 100% !important;
        
    }
    .botoes{
        position: inherit; 
        height: 40px;
    }
    #empresa, #produtos, #localizacao, #contato {
        font-size: 16px;
    }
 
    #topico1{
        font-size: 1.5rem;
        /* margin-left: 1.9em;        */
    }
    #hr-1 {
        margin-left: 6em;
    }
    p{
        font-size: 1rem;  
        margin: 0            
    }
    #frase {
        font-size: 2rem;
                padding-left: 0.2em;
        width: 9em;
        }
    
    .divmaior {
        display:flex;
        flex-direction: column;
        align-items: center;   
        
    } 

    
    .divmaior > .caixas {
        width: 100%;
    }
    #expresso, #mocha, #capuccino {
        top: 13em;
    }
    hr{
        margin-top: 13em;
       margin-bottom: 0.5em ;
    }
    .texto-caixa {
        margin-top: 0em;
    }

    .tabela{
        margin-left: 2em;
        
    }

}

/* Tablet */
@media only screen and (min-width:426px) and (max-width:768px){
    .container{
        width: 100% !important;
    }
    .botoes{
        position: inherit;
        height: 40px;
    }

    #empresa, #produtos, #localizacao, #contato {
        font-size: 16px;
    }
    #frase {
        font-size: 2rem;
        padding-left: 0.2em;
        width: 9em;
    }
    #topico1{
        font-size: 2rem;
        /* margin-left: 1.9em;        */
    }
    #hr-1 {
        margin-left: 6em;
    }
    p{
        font-size: 1rem;              
    }
    .divmaior {
        display:flex;
        flex-direction: column;
        align-items: center;   
        
    } 
    .divmaior > .caixas {
        width: 50%;
    }
    #expresso, #mocha, #capuccino {
        top: 13em;
    }
    hr{
        margin-top: 13em;
       margin-bottom: 0.5em ;
    }
    .texto-caixa {
        margin-top: 0em;
    }
}

